/* Custom styles can be added here if needed */

@keyframes hens-float {
  0%,
  100% {
    transform: translateY(0) translateZ(0) scale(1);
  }
  50% {
    transform: translateY(-12px) translateZ(0) scale(1.01);
  }
}

.hens-loader-wrapper {
  isolation: isolate;
}

.hens-loader-floating {
  animation: hens-float 4.2s ease-in-out infinite;
  z-index: 1;
}

.hens-loader-float {
  animation: hens-float 4.2s ease-in-out infinite;
}

@keyframes hens-spin-minimal {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hens-spinner {
  --size: 30px;
  --first-clr: #484de6;
  --second-clr: #f15a24;
  width: 110px;
  height: 110px;
  position: relative;
}

.hens-spinner::before,
.hens-spinner::after {
  content: "";
  width: var(--size);
  height: var(--size);
  border: 6px solid var(--first-clr);
  position: absolute;
  top: 50%;
  left: calc(var(--size));
  transform: translate(-50%, -50%);
  animation: hens-spinner-spin 1s linear infinite;
  border-radius: 50% 80% 50% 70%;
  box-sizing: border-box;
}

.hens-spinner::after {
  left: calc(var(--size) * 2);
  border: 6px solid var(--second-clr);
  animation: hens-spinner-spin 1s linear infinite reverse;
}

.hens-spinner--lg {
  --size: 36px;
  width: 140px;
  height: 140px;
}

@keyframes hens-spinner-spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
